<!DOCTYPE html>
<html>
    <head>
        <title>ICSA</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" rel="stylesheet" href="/stylesheets/main.css">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

        
    </head>
    <div id="wrapper">
        <div class="main-content"></div>
    <body>
            <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
                    <!-- Brand -->

                    <a class="navbar-brand" href="/"><img class="img-fluid" style="height: 40px;width: 40px" src="https://lh5.googleusercontent.com/p/AF1QipOkEbXcSK9LnJ5c46qvSHw2IcmguWU5bdavc4KJ=w160-h160-k-no" alt="logo">
ICSA</a>
                  
                    <!-- Toggler/collapsibe Button -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  
                    <!-- Navbar links -->
                    <div class="collapse navbar-collapse" id="collapsibleNavbar">
                     
                      <ul class="navbar-nav ml-auto">
                           
                                  <li class="nav-item">
                                        <a class="nav-link" href="/projects">WORKS</a>
                                      </li>
                                      <li class="nav-item">
                                            <a class="nav-link text-warning" href="/about">ABOUT</a>
                                          </li>

                                          <li class="nav-item"><a data-toggle="modal" data-target="#myModal" href="#myModal"><i class="fa fa-envelope-o" style="font-size:2em;padding-right:20px;"></i></a></li>

                        </ul>
                    </div> 
                  </nav>
                  