<%include partials/header%>

<div id="blue">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
				<h4>LEARN MORE ABOUT US</h4>
				<p>WE ARE COOL PEOPLE</p>
				</div>
			</div><!-- row -->
		</div><!-- container -->
    </div><!--  bluewrap -->
    
    <div class="container w">
            <div class="row centered">
                <br><br>
                <div class="col-lg-3">
                    <img class="rounded-circle" src="https://lh4.googleusercontent.com/-zaS-S4lXrV8/AAAAAAAAAAI/AAAAAAAAHek/HzB7qsBd7k0/il/photo.jpg" width="110" height="110" alt="">
                    <h4>Kshitij Pipaleshwar</h4>
                    <p>FOUNDER & DIRECTOR</p>
                    <p><a href="https://www.linkedin.com/in/kshitij-pipaleshwar-7b09a61a/">@Kshitij</a></p>
                </div><!-- col-lg-3 -->
    
                <div class="col-lg-3">
                    <img class="img-circle" src="assets/img/pic2.jpg" width="110" height="110" alt="">
                    <h4>Hileri</h4>
                    <p>FILMS ASSOCIATE</p>
                    <p><a href="#">@Hileri</a></p>
                </div><!-- col-lg-3 -->
    
                <div class="col-lg-3">
                    <img class="img-circle" src="assets/img/pic3.jpg" width="110" height="110" alt="">
                    <h4>Anas</h4>
                    <p>FILMS ASSOCIATE</p>
                    <p><a href="#">@Anas</a></p>
                </div><!-- col-lg-3 -->
    
                <div class="col-lg-3">
                    <img class="img-circle" src="assets/img/pic4.jpg" width="110" height="110" alt="">
                    <h4>Kreeti</h4>
                    <p>CREATIVE DIRECTOR<p>
                    <p><a href="#">@Kreeti</a></p>
                </div><!-- col-lg-3 -->

                <div class="col-lg-3">
                        <img class="rounded-circle" src="https://pbs.twimg.com/profile_images/551802096647827456/kGAl-Fgj_400x400.jpeg" width="110" height="110" alt="">
                        <h4>Ruby</h4>
                        <p>HR & OPERATIONS<p>
                        <p><a href="#">@Ruby</a></p>
                    </div><!-- col-lg-3 -->
    
            </div><!-- row -->
            <br>
            <br>
        </div><!-- container -->

        <div id="r">
                <div class="container">
                    <div class="row centered">
                        <div class="col-lg-8 col-lg-offset-2">
                            <h4>WE ARE STORYTELLERS. BRANDS ARE OUR SUBJECTS. DESIGN IS OUR VOICE.</h4>
                            <p>We believe ideas come from everyone, everywhere. At BlackTie, everyone within our agency walls is a designer in their own right. And there are a few principles we believe—and we believe everyone should believe—about our design craft. These truths drive us, motivate us, and ultimately help us redefine the power of design.</p>
                        </div>
                    </div><!-- row -->
                </div><!-- container -->
          
            
<%include partials/footer%>
